* {
  font-family: "Montserrat", sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
}
/* utility classes starts */
.btn-green {
  background-color: #1f6955;
  color: #fff;
  border-color: #1f6955;
  border-radius: 0px;
}
a.btn:hover {
  color: #fff;
}

.card-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* utility classes ends */
nav {
  background-color: #393a3e;
  color: #fff;
  fill: #fff;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #fff;
}
